@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Quicksand', 'Courier New', Courier, monospace;
  background: rgb(125,6,144);
  background: linear-gradient(52deg, rgba(125,6,144,1) 0%, rgba(187,8,199,1) 100%);
  overflow-x: hidden; 
}
